{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
О нас
{% endblock %}

{% block content %}
<h2>О нашей компании</h2>
<img src="{% static 'main/img/3.jpg' %}" style="width: 50%; float: right;">
<div>Наша компания занимается производством мебели уже более 10 лет.</div>
<div>За это время тысячи семей реализовали свои мечты о красивой и практичной мебели с нашей помощью.</div>
<div>Многие из наших клиентов сделали повторные заказы или рекомендовали нас своим друзьям и знакомым, что служит лучшей оценкой нашей работы.</div>
<div>Собственное производство позволяет предлагать нашим клиентам мебель по доступным ценам.</div>
<div>Высокоточное производство и профессиональные специалисты готовы реализовать проект любой сложности.</div>
<div>Заказывая мебель у нас Вы можете быть уверенны в ее качестве. Только у нас гарантия на мебель составляет 7 лет и включает также послегарантийное обслуживание.</div>

{% include 'main/telegram_form.html' %}
{% endblock %}